{% capture location %}{{ page.url | split: '/' }}{% endcapture %}
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

        <section class="navigation">
            <header>
                <div class="header-content">
                    <a href="#" class="logo" alt="Famoi Logo"></a>
                    <div class="header-nav">
                        <nav>
                            <ul class="member-actions">
                                <li><a href="#intro">Introduction</a></li>
                                <li><a href="#how">Ventures</a></li>
                                <li><a href="#features">Micro-Projects</a></li>
                                <li><a href="#features">Consulting</a></li>
                                <li><a href="https://medium.com/journal-of-cappui" target="_blank" >Journal</a></li>
                                <li><a href="#purpose">Have an idea?</a></li>
                            </ul>
                            
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>       